@charset "UTF-8"

@import "color"

// Variables;
@import "../../bower_components/materialize/sass/components/variables"

$dark-green: #558b2f
$light-green-base: #8bc34a
$light-green-lighten-1: #9ccc65

div .content
  max-width: 800px

body
  display: flex
  min-height: 100vh
  flex-direction: column

header nav
  z-index: 100
  position: fixed

main
  padding-top: 80px
  flex: 1 0 auto

a
  cursor: pointer

.btn-active
  background-color: $light-green-lighten-1

footer
  z-index: 0

.no-pad
  padding: 0 0 0 0

footer.slim
  padding-top: 10px

footer.page-footer .footer-copyright
  line-height: 36px
  height: 36px

//#sidenav-overlay
//  z-index: 0
//  opacity: 0 !important

.truncate
  width: 100%
  white-space: nowrap
  overflow: hidden
  text-overflow: ellipsis

.impressum .reverse
  unicode-bidi: bidi-override
  direction: rtl

.collection .collapsible
  border-top: 0

.no-margin
  margin-top: 0
  margin-bottom: 0

.btn-size-1
  width: 108px

.btn-size-2
  width: 162px

nav.slim
  height: 48px
  line-height: 48px

table.vertical-table
  width: 100%
  border-collapse: collapse
  border-spacing: 0
  display: block
  position: relative
  th,
  td
    margin: 0
    vertical-align: top
  th
    text-align: left
  thead
    display: block
    float: left
    tr
      display: block
      padding: 0 10px 0 0
      th::before
        content: "\00a0"
  tbody
    display: block
    width: auto
    position: relative
    overflow-x: auto
    white-space: nowrap
    tr
      display: inline-block
      vertical-align: top
  th
    display: block
    text-align: right
  td
    display: block
    min-height: 1.25em
    text-align: left
  tr
    padding: 0 10px
  /* sort out borders */
  thead
    border: 0
    border-right: 1px solid $table-border-color
  &.bordered
    th
      border-bottom: 0
      border-left: 0
    td
      border-left: 0
      border-right: 0
      border-bottom: 0
    tr
      border: 0
    tbody tr
      border-right: 1px solid $table-border-color